*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav .container{
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    position: relative;

}
nav ul{
    margin: 0;
    padding-left: 4rem;
    position: relative;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}
nav ul li a{
    color: hsl(219, 9%, 45%) !important;

}
nav ul li a:hover::before{
    content: "";
    position: absolute;
    bottom: -27px;
    width: calc(100% - 1rem);
    height: 3px;
    background-color: hsl(26, 100%, 55%);
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width:992px){
    nav ul li a:hover::before{
    content: "";
    width: 0;
}
}
@media (max-width:992px){
    .show{
    position: absolute;
    top: 97px;
    width: 100%;
    background-color: white;
    text-align: center;
    display: block !important;
    box-shadow: 0px 0px 7px 6px #f5f5f5;
}
nav ul {
    padding: 0.5rem;
}
nav ul li {
    padding: 5px;
}

}
nav .avatar{
    text-align: end;
    position: relative;
}
nav .avatar .svg{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
nav .avatar .svg .num-product{
    position: absolute;
    right: -3px;
    top: -4px;
    width: 18px;
    height: 14px;
    border-radius: 45%;
    background-color: hsl(26, 100%, 55%);
    color: white;
    text-align: center;
    font-size: 9.5px;
}
nav .avatar img{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
nav .avatar img:hover{
    border: 2px solid hsl(26, 100%, 55%);
}
nav .card{
    position:absolute;
    top: 98px;
    right: 10px;
    width: 320px;
    height: 200px;
    text-align: left;
    z-index: 1;
    background-color: white;
    border: 0;
    box-shadow:0px 7px 8px 3px #ddd;
    display: none;
}
nav .open-card{
    display: block;
}

nav .card h3{
    font-size: 19px;
    padding: 12px 20px;
    border-bottom: 1px solid #EEE;
}
nav .card .uCard .after-add{
    display: flex;
    flex-wrap: wrap;
    height: 41%;
    padding: 0 20px;
    display: none;
}
nav  .card .uCard .show-add{
    display: flex;
}

nav .card .uCard div{
    padding: 3px 10px;
}
nav .card .uCard img{
    width: 60px;
    height: 60px;
    margin: 0;
    border-radius: 4px;
}
nav .card .uCard .empty{
    font-size: 18px;
    font-weight: bold;
}
nav .card .uCard p{
    color: hsl(219, 9%, 45%);
    font-size: 12.6px;
    margin-bottom: 0;
    text-align: center;
}
nav  .card .uCard span{
    color: hsl(219, 9%, 45%);
    font-size: 14px;
}
nav  .card .uCard .checkout{
    background-color: hsl(26, 100%, 55%);
    font-weight: bold;
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 14px;
    border: 0;
    margin: 20px 0;
}
nav .card .uCard .empty-del{
    display: none;
}

.section{
    justify-content: center;
    padding: 3rem 0;
}
.section .img img{
    border-radius: 10px;
    cursor: pointer;
}
.section .img .other-pic{
    margin-top: 20px;
    text-align: center;
    
}
.section .img .other-pic img{
    display: inline-block;
    width: 60px;
}
.section .img .other-pic > div.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    background-color: #ffffff96;
    border-radius: 10px;
    border: 2px solid hsl(26, 100%, 55%);
}

.section .info > span{
    display: block;
    margin-bottom: 10px;
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.section .info h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}
.section .info p{
    color: hsl(219, 9%, 45%);
}
.section .info .after-offer .price-after{
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    color: #000;
}
.section .info .after-offer{
    margin-bottom: 2rem;
}
.section .info .after-offer .offer{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    font-weight: bold;
    padding: 4px 5px;
    border-radius: 6px;
}
.section .info .after-offer .price-before{
     display: block;
     text-decoration: line-through;
     color: hsl(219, 9%, 45%);
}
.section .info .add-toCard {
    display: flex;
}

.section .info .add-toCard .counter{
    display: flex;
}
.section .info .add-toCard button{
    background-color: hsl(223, 64%, 98%);
    color: hsl(26, 100%, 55%);
    border: 0;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}
.section .info .add-toCard .counter button:first-child{
    border-radius: 10px 0 0 10px;
}
.section .info .add-toCard  .counter button:last-child{
    border-radius: 0 10px 10px 0px;
}
.section .info .add-toCard p{
    background-color: hsl(223, 64%, 98%);
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-top: 8px;
    color: black;
}
.section .info .add-toCard .add{
    background-color: hsl(26, 100%, 55%);
    color: white;
    width: 200px;
    height: 40px;
    margin-left: 10px;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 1px 4px 4px 0px hsl(26deg 100% 55%);;
}

.full{
    position: fixed;
    height: 100%;
    top: 0;
    background-color: #000000d4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.full img{
    width: 400px;
    border-radius: 10px;
}
.full .other-pic{
    margin-top: 20px;
    width: 380px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.full .other-pic > div{
    cursor: pointer;
}
.full .other-pic >div.active::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    height: calc(100%);
    background-color: #ffffff96;
    width: calc(100%);
    border-radius: 10px;
    border: 2px solid hsl(26, 100%, 55%);
}
.full .other-pic img{
    width: 60px;
    border-radius: 10px;
}
.show-full{
    display: flex;
}
.full .content{
    position: relative;
}
.full .prev,.full .next{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
}
.full .prev{
    left: -25px;
}
.full .next{
    right: -25px;
}
.full span{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.full span:hover{
    color: #d81616;
}

@media (min-width:320px) and (max-width:480px){
    .full img {
            width: 300px;
        }
}